{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Breeds{% endblock page_title %}

{% block content %}
<div id="breed-grid" class="row multi-columns-row">
    {% if user.id %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="dummy"></div>
        <a class="btn btn-primary thumbnail text-center in" href="{% url 'mantises:add-breed' %}" style="vertical-align: middle;">
            <img class="addbutton" src="{% static 'img/plus-gray-128x128.png' %}" >
        </a>
    </div>
    {% endif %}

    {% if breed_list %}
        {% for breed in breed_list %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <div class="dummy"></div>
                <a class="btn btn-default thumbnail text-center in" href="{% url 'mantises:detail-breed' breed.id %}">
                    {{ breed.short_name }}
                    {% if breed.picture %}
                        <img src='{{ breed.breed_pic }}' />
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>No breeds are available.</p>
    {% endif %}
</div>

{%  endblock %}