{% extends "base.html" %}

{% block page_title %}{{ mantis.name }}{% endblock page_title %}

{% block content %}
    {% if mantis.gallery.public %}
    <div class="profile-photo">
        <img src= {{ mantis.profile_pic }} />
    </div>
    {% else %}
        <p>No pictures</p>
    {% endif %}
<h3>Breed</h3>
        <p>{{ mantis.breed }}</p>
<h3>Sex</h3>
        <p>{{ mantis.get_sex_display }}</p>
<h3>Instar</h3>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'mantises:molt' mantis.id %}" method="post">
        {% csrf_token %}
        {{ mantis.instar }} <button type="submit" class="btn btn-default">Molt</button>
    </form>

<h3>Age</h3>
        <p>{{ mantis.age }}</p>
<h3>Notes</h3>
        <p>{{ mantis.notes }}</p>
{% if mantis.gallery.public %}
<h3>Pictures</h3>
    <div class="photo-gallery">
        {% for photo in mantis.gallery.public %}
        <div class="gallery-photo">
            <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ photo.title }}"/></a>
        </div>
        {% endfor %}
    </div>
{% endif %}

{%  endblock %}