{% extends "base.html" %}

{% block content %}

<h1>{{ mantis.name }}</h1>
<h2>Breed</h2>
        <p>{{ mantis.breed }}</p>
<h2>Sex</h2>
        <p>{{ mantis.get_sex_display }}</p>
<h2>Instar</h2>
        <p>{{ mantis.instar }}</p>
<h2>Born</h2>
        <p>{{ mantis.born }}</p>
<h2>Died</h2>
        <p>{{ mantis.died }}</p>
<h2>Notes</h2>
        <p>{{ mantis.notes }}</p>
<h2>Pictures</h2>
        <!-- todo: add thumbnail gallery -->
        <p>picture thumbnails placeholder</p>

{%  endblock %}