{% extends "base.html" %}

{% block content %}

<h2>{{ mantis.name }}</h2>
<h3>Breed</h3>
        <p>{{ mantis.breed }}</p>
<h3>Sex</h3>
        <p>{{ mantis.get_sex_display }}</p>
<h3>Instar</h3>
        <p>{{ mantis.instar }}</p>
<h3>Born</h3>
        <p>{{ mantis.born }}</p>
<h3>Died</h3>
        <p>{{ mantis.died }}</p>
<h3>Notes</h3>
        <p>{{ mantis.notes }}</p>
<h3>Pictures</h3>
        <!-- todo: add thumbnail gallery -->
        <p>picture thumbnails placeholder</p>

{%  endblock %}