{% extends "base.html" %}

{% block page_title %}Top Mantises{% endblock page_title %}

{% block content %}

{% if top_mantis_list %}
    {% for mantis in top_mantis_list %}
        <div>
            {% if mantis.gallery.public %}
            <div class="profile-photo">
                <img src= {{ mantis.profile_pic }} />
            </div>
            {% endif %}
            <a href="{% url 'mantises:detail' mantis.id %}">{{ mantis.name }}</a>
        </div>
    {% endfor %}
{% else %}
    <p>No mantises are available.</p>
{% endif %}

{%  endblock %}