{% extends "base.html" %}

{% block page_title %}{{ container.name }}{% endblock page_title %}

{% block content %}

    {% if user.id %}
    <a href="{% url 'containers:edit-container' container.id %}">Edit</a>
    {% endif %}

    {% if container.picture %}
        <img class="thumbnail" src= {{ container.container_pic }} />
    {% else %}
        <p>No picture</p>
    {% endif %}

<div class="row multi-columns-row">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <h3>Type</h3>
                <a href="{{ container.type.get_absolute_url }}">{{ container.type.name }}</a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <h3>Environment Readings</h3>
        <form action="{% url 'containers:add-reading' container.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-sm">
                + Reading
            </button>
        </form>
        {% for reading in readings %}
                <p>{{ reading }}</p>
        {% endfor %}
    </div>
</div>

<div id="mantisgrid" class="row multi-columns-row">
    <h3>Mantises</h3>
    {% if mantises %}
        {% for mantis in mantises %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <div class="dummy"></div>
                <a class="btn btn-default thumbnail text-center in" href="{% url 'mantises:detail-mantis' mantis.id %}">
                    {{ mantis.name }}
                    {% if mantis.gallery.public %}
                            <img src= {{ mantis.profile_pic }} />
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>No mantises are available for this container.</p>
    {% endif %}
</div>

<div class="note-container">
    <h3>Notes</h3>

    <div class="note-container-scroll">
        <div>
            <a class="btn btn-primary" style="width: 100%;" href="{% url 'notes:add-note' container.content_type container.id container.get_absolute_url %}">+ Note</a>
        </div>
        {% for note in notes %}
        <div>
            <a class="btn btn-default" href="{% url 'notes:edit-note' note.id %}">{{ note }}</a>
        </div>
        {% endfor %}
    </div>
</div>

{%  endblock %}