{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}{{ user.username }}'s Containers{% endblock page_title %}

{% block content %}
<div id="container-grid" class="row multi-columns-row">
    {% if user.id %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="dummy"></div>
        <a class="btn btn-primary thumbnail text-center in" href="{% url 'containers:add-container' %}" style="vertical-align: middle;">
            <img class="addbutton" src="{% static 'img/plus-gray-128x128.png' %}" >
        </a>
    </div>
    {% endif %}

    {% if container_list %}
        {% for container in container_list %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <div class="dummy"></div>
                <a class="btn btn-default thumbnail text-center in" href="{% url 'containers:detail-container' container.id %}">
                    {{ container.name }}
                    {% if container.picture %}
                        <img src='{{ container.container_pic }}' />
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>No containers are available.</p>
    {% endif %}
</div>
{%  endblock %}