{% extends "base.html" %}

{% block page_title %}{{ feeder.short_name }}{% endblock page_title %}

{% block content %}
    {% if user.id %}
    <a href="{% url 'feeders:edit-feeder' feeder.id %}">Edit</a>
    {% endif %}

    {% if feeder.gallery.public %}
        <img class="thumbnail" src= {{ feeder.pic }} />
    {% else %}
        <p>No picture</p>
    {% endif %}

<div class="row multi-columns-row">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <h3>Short Name</h3>
            <p>{{ feeder.short_name }}</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <h3>Long Name</h3>
            <p>{{ feeder.long_name }}</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <h3>Available</h3>
            <p>{{ feeder.available }}</p>
    </div>
</div>

<div class="note-container">
    <h3>Notes</h3>

    <div class="note-container-scroll">
        <div>
            <a class="btn btn-primary" style="width: 100%;" href="{% url 'notes:add-note' feeder.content_type feeder.id feeder.get_absolute_url %}">+ Note</a>
        </div>
        {% for note in notes %}
        <div>
            <a class="btn btn-default" href="{% url 'notes:edit-note' note.id %}">{{ note }}</a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row">
        <h3>Pictures</h3>
        {% if feeder.gallery.public %}
        <div class="photo-gallery">
            {% for photo in feeder.gallery.public %}
            <div class="gallery-photo">
                <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ photo.title }}"/></a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

{%  endblock %}